Reading .csv file and preview

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [15]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

If we consider bachelors and masters have appropriate education and only this(not doctor for ex.)

In [16]:
bach_num = (df['education'] == 'Bachelors').sum()
mas_num = (df['education'] == 'Masters').sum()
print(f'Bachelors: {bach_num}')
print(f'Masters: {mas_num}')

Bachelors: 5355
Masters: 1723

In [30]:
average_age_usa = df[df['native-country'] == 'United-States']['age'].mean()
print(f'Average age of people living in USA: {average_age_usa}')

Average age of people living in USA: 38.65567363729859

In [35]:
cuba_part = (df['native-country'] == 'Cuba').sum()/len(df) * 100
print(f'Cuba: {cuba_part} %')

Cuba: 0.29176008107859097 %

In [11]:
df_races = df[df['race'].isin(['White', 'Black'])] # rows only with Black/White races
stats = df_races.groupby('race')['age'].agg(['mean', 'std'])
print(stats)

            mean        std
race
Black  37.767926  12.759290
White  38.769881  13.782306

In [13]:
print((df[df['native-country'] == 'Jamaica']['hours-per-week'] >= 40).all())

False

In [14]:
print(df[df['native-country'] == 'Jamaica']['hours-per-week'] < 40) # all people from Jamaica, who work < 40

6         True
706      False
1135     False
1570     False
2006     False
         ...
30863    False
31033    False
31038    False
31954    False
32229    False
Name: hours-per-week, Length: 81, dtype: bool

In [18]:
df.groupby(['race', 'salary'])['hours-per-week'].describe()

                             count       mean        std   min   25%   50%  \
race               salary
Amer-Indian-Eskimo <=50K     275.0  39.410909  11.782482   3.0  40.0  40.0
                   >50K       36.0  44.916667   9.854296  20.0  40.0  40.0
Asian-Pac-Islander <=50K     763.0  38.425950  12.614856   1.0  36.0  40.0
                   >50K      276.0  44.829710  11.134385   5.0  40.0  40.0
Black              <=50K    2737.0  37.580197   9.957707   1.0  35.0  40.0
                   >50K      387.0  44.382429  10.838834   2.0  40.0  40.0
Other              <=50K     246.0  38.914634  11.173805   5.0  35.0  40.0
                   >50K       25.0  44.920000   9.402659  30.0  40.0  40.0
White              <=50K   20699.0  39.013624  12.597917   1.0  35.0  40.0
                   >50K     7117.0  45.562035  11.026999   1.0  40.0  42.0

                            75%   max
race               salary
Amer-Indian-Eskimo <=50K   40.0  84.0
                   >50K    50.0  70.0
Asian-Pac-Islander <=50K   40.0  99.0
                   >50K    50.0  99.0
Black              <=50K   40.0  99.0
                   >50K    49.0  99.0
Other              <=50K   40.0  98.0
                   >50K    50.0  70.0
White              <=50K   40.0  99.0
                   >50K    50.0  99.0

So, analyzing data from table above, the answer is 5.0

In [26]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

higher_education_group = df[df['education'].isin(higher_education)] # higher education

no_higher_education_group = df[~df['education'].isin(higher_education)] # all others

higher_education_part = len(higher_education_group[higher_education_group['salary'] == '>50K'])/len(higher_education_group) * 100

no_higher_education_part = len(no_higher_education_group[no_higher_education_group['salary'] == '>50K'])/len(no_higher_education_group) * 100

print(f'Part of people with higher education and high salary: {higher_education_part}%')
print(f'Part of people without higher education and high salary: {no_higher_education_part}%')

Part of people with higher education and high salary: 43.12476226702168%
Part of people without higher education and high salary: 14.996597867997277%

In [35]:
min_age = df[df['age'] == df['age'].min()]
print('Number of people with minimum age: ', len(min_age))
print('Part of women with minimum age and high salary: ', len(min_age[(min_age['sex'] == 'Female') & (min_age['salary'] == '>50K')]) / len(min_age) * 100, '%')

106      False
209      False
262      False
271      False
335      False
         ...
31772    False
31864    False
31959    False
32282    False
32447    False
Name: salary, Length: 395, dtype: bool
Number of people with minimum age:  395
Part of women with minimum age and high salary:  0.0 %